---
layout: default
---

<section class="tiled">
  <div class="container">
    {% include sections/hero.html %}
  </div>
</section>

<section class="whited">
  <div class="container">
    {% include sections/concluded.html %}
  </div>
</section>

<section class="grayed">
  <div class="container">
    {% include sections/prizes.html %}
  </div>
</section>

<section class="whited">
  <div class="container">
    {% include sections/photos.html %}
  </div>
</section>

<section class="grayed">
  <div class="container">
    {% include sections/reviews.html %}
  </div>
</section>

<section class="whited">
  <div class="container">
    {% include sections/description.html %}
  </div>
</section>

<!-- <section class="whited">
  <div class="container">
    {% include sections/attendance.html %}
  </div>
</section> -->

<section class="grayed">
  <div class="container">
    {% include sections/participants.html %}
  </div>
</section>

<!-- <section class="grayed">
  <div class="container">
    {% include sections/rules.html %}
  </div>
</section>

<section class="whited">
  <div class="container">
    {% include sections/agenda.html %}
  </div>
</section>
 -->
<section class="whited">
  <div class="container">
    {% include sections/goals.html %}
  </div>
</section>

<!-- <section class="whited">
  <div class="container">
    {% include sections/inspiration.html %}
  </div>
</section>

<section class="grayed">
  <div class="container">
    {% include sections/joinus.html %}
  </div>
</section>

<section class="whited">
  <div class="container">
    {% include sections/apis.html %}
  </div>
</section> -->

<!-- <section class="tiled">
  <div class="container">
    {% include sections/register.html %}
  </div>
</section> -->

<section class="tiled">
  <div class="container">
    {% include sections/stay-tunned.html %}
  </div>
</section>

<section class="whited">
  <div class="container">
    {% include sections/sponsors.html %}
  </div>
</section>
