<div class="row" id="agenda">
  <h2>Daily Agenda</h2>
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-6">
      <h3>Day 1: June 24th</h3>
      <dl class="row">
        <dt class="col-md-2">9:00</dt>
        <dd class="col-md-10">Teams arrive and set up in the 7th floor or in their remote locations</dd>
        <dt class="col-md-2">9:30</dt>
        <dd class="col-md-10">Official opening by Jouk at the 7th floor + GoToMeeting (dial-in details in email)</dd>
        <dt class="col-md-2">11:30</dt>
        <dd class="col-md-10">Regular Backbase lunch will be served at the 4th floor</dd>
        <dt class="col-md-2">13:30</dt>
        <dd class="col-md-10">Afternoon Hacking continues</dd>
        <dt class="col-md-2">18:00</dt>
        <dd class="col-md-10">Dinner is served</dd>
      </dl>
    </div>
    <div class="col-md-6">
      <h3>Day 2: June 25th</h3>
      <dl>
        <dt class="col-md-2">9:00</dt>
        <dd class="col-md-10">Breakfast and time to work until...</dd>
        <dt class="col-md-2">11:30</dt>
        <dd class="col-md-10">Regular Backbase lunch</dd>
        <dt class="col-md-2">12:30</dt>
        <dd class="col-md-10">Show time!</dd>
        <dt class="col-md-2">15:00</dt>
        <dd class="col-md-10">Winners announced!</dd>
        <dt class="col-md-2">15:30</dt>
        <dd class="col-md-10">Closing speech</dd>
        <dt class="col-md-2">16:00</dt>
        <dd class="col-md-10">Drinks and celebrations</dd>
      </dl>
    </div>
    <div class="col-md-12">
      <p>The event goes on throughout the day and night. Feel free to stay!</p>
      <p>If you sleep in the office bring your own sleeping gear! Think about sleeping bag, inflatable mattress, toothbrush, pyjama, etc.</p>
      <p>Bring your XBOX games, board games and whatever you need for the times you need to relax and distract a little.</p>
    </div>
  </div>
</div>
