<div class="row" id="apis">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>APIs you might want to use</h2>
    <h4><a href="http://data.worldbank.org/node/9">World Bank</a></h4>
    <p> The World Bank currently has three different APIs to provide access to different datasets: one for Indicators (or time series data), one for Projects (or data on the World Bank’s operations), and one for the World Bank financial data (World Bank
      Finances API). </p>
    <p> All three APIs implement RESTful interfaces to allow users to perform queries of available data using selection parameters. </p>
    <p> The World Bank Indicators API lets you programmatically access more than 8,000 indicators and query the data in several ways, using parameters to specify your request. Many data series date back 50 years, and can be used to create interesting
      applications. </p>
    <h4><a href="https://openbankproject.com/for-developers/">Open Bank Project</a></h4>
    <p> Use a standard and hassle-free banking API </p>
    <p> Want to develop a financial application which accesses bank account transactions? The Open Bank Project offers an easy-to-use RESTful JSON API. Connect in minutes and start using it. </p>
    <p> With the Open Bank Project you can: </p>
    <ul>
      <li>Integrate bank account information via our REST API </li>
      <li>Use secure authentication via our OAuth implementation </li>
      <li>Write once - run it everywhere. </li>
      <li>Leverage a consistent and bank-agnostic interface </li>
    </ul>
    <h4><a href="https://plaid.com/docs/">Plaid</a></h4>
    <p> Plaid’s custom bank access, rich transaction data, and robust security </p>
    <p> Get bank account data you can actually use. Plaid translates data into human-readable form and layers on context so you can serve your customers better. </p>
    <h4><a href="http://www.ofx.net/">Open Financial Exchange</a></h4>
    <p> Open Financial Exchange (OFX) is a unified specification for the electronic exchange of financial data between financial institutions, businesses and consumers via the Internet. </p>
    <p> OFX also supports making bill payments, stop a check, intrabank and interbank transfers etc. It is quite extensive.
      <br>See it here: <a href="http://ofx.net/AboutOFX/ServicesSupported.aspx">http://ofx.net/AboutOFX/ServicesSupported.aspx</a></p>
    <h4><a href="https://research.stlouisfed.org/docs/api/fred/">FRED API</a></h4>
    <p> FRED stands for Federal Reserve of Economic Data. It’s a web service that contains frequently updated US macro and regional economic time series at annual, quarterly, monthly, weekly, and daily frequencies. FRED also aggregates economic data from
      a variety of sources, most of which are US government agencies. </p>
    <p> FRED serves those data via API, in JSON and XML formats. You can use it for free, just registering to get an API key. More information at the API doc page. </p>
    <p> Quandl: <a href="https://www.quandl.com/blog/getting-started-with-the-quandl-api">https://www.quandl.com/blog/getting-started-with-the-quandl-api</a> </p>
    <p> Quandl is a data platform. They also host data from hundreds of publishers on a single easy-to-use website. They help data analysts save time, effort and money, by delivering financial and economic data in the format we want into dozens of tools.
      </p>
  </div>
  <div class="col-md-2"></div>
</div>
