<div class="row" id="attendance">
  <div class="col-md-6">
    <img src="{{ 'assets/images/hackathon-2015-winners.jpg' | prepend: site.baseurl }}" alt="" class="img-responsive" />
  </div>
  <div class="col-md-6">
    <h2>The Ones to Beat</h2>
    <p>Last year, 15 teams competed to hack the financial system. In the end, team Exodus took the prize with their 3D-printed piggy bank that counted the actual coins you were saving up. This information was registered and sent to the online banking
      platform, which displayed a real-time balance to help children learn the benefits of saving up their pennies.
      <br>
      <br><a href="https://youtu.be/tJx_bgvWwwA">Backbase 2015 Hackathon Trailer</a>
      <br>
      <br>Think you can do better? Let’s see what you’ve got!</p>
  </div>
</div>
