<div class="row" id="eta">
  <h2>Backbase Hackathon 2016 was a success!</h2>
  <div class="col-md-6 col-md-offset-3">
    <p>The Backbase Hackathon 2016 was really great, so many amazing ideas created and presented. Some statics from the event and, of course, the results:</p>
    <p class="">36 hours of creating, coding, preparing pitches, testing...<br/>
      58 participants<br/>
      14 teams<br/>
      9 different locations<br/>
      7 jury members<br/>
      6 winning categories<br/>
      12 volunteers organising<br/>
      119 song in the Hackathon playlist<br/>
      Many litres of coffee, Coca Cola, water and beer...
    </p>
  </br>
    <h3>The big winners: Grand Winner of the Backbase 2016 Hackathon</h3>
    <p>Team <b>!important</b> with Dmitry Smirnov, Ben Sorohan, Marcin Zielinski, Oriol Torras and their amazing split and pay mobile app.</p>
    <h3>2nd place: Lesser-but-just-short-of-Grand Winner</h3>
    <p><b>The Guardians</b> with Pawan Sangwan, Igor Lopatin, Giovanni Filardo, Frederico Biehl, Srikanth Reddy, Vladimir Sabadah and the CXP hack to push come magic into the portals. In their demo we saw how the solution allows live editing into portals through CXP.</p>
    <h3>3rd place: Fireworks Factor</h3>
    <p><b>the_new_guys</b> with Willie Scholtz and Sergio Morales Morales and their powerful, yet scary :), application that matches the birthdays and events in your calendar with the products and services the celebrated person likes to allows buying the present in almost real time.</p>
    <h3>4th place: Pink Panther</h3>
    <p><b>AC/CD</b> with Karoly Nagy, Oleksandr Smorodin, Thiago Cotting, Pavel Chunyayev. The team name is not about the band, but Continuous Delivery. Their idea provides a very handy tool to report the cost of the environments used by the R&amp;D teams.</p>
    <h3>Circus Act prize</h3>
    <p>And finally the Circus Act prize, went to <b>Business as usual</b>, team of Endava with Victor Jembei, Constantin Gasca, Milos Nijanovic, Aleksandr Zivkovic and Damir Alibegovic and their real life demo on how to achieve tasks to save money using a goal and activity tracking app that connects to the banking environment. We loved the real life walking to show the pedometer tracking!</p>

  </div>
</div>
