<div class="row" id="eta">
  <h2>Backbase Hackathon 2016 was a success!</h2>
  <div class="col-md-6 col-md-offset-3">
    <p>The Backbase Hackathon 2016 was really great, so many amazing ideas created and presented. Some statics from the event and, of course, the results:</p>
    <p class="">36 hours of creating, coding, preparing pitches, testing...<br/>
      58 participants<br/>
      14 teams<br/>
      9 different locations<br/>
      7 jury members<br/>
      6 winning categories<br/>
      12 volunteers organising<br/>
      119 song in the Hackathon playlist<br/>
      Many litres of coffee, Coca Cola, water and beer...
    </p>
  </div>
</div>
