<div class="row" id="description">
  <div class="col-md-6">
    <h2>Challenge: Accepted</h2>
    <p>The Backbase Hackathon is a chance for developers from all the Backbase locations to create something the banking industry has never-before seen. Do you have an idea you think others will love? Race against the clock to realise your dreams using
      whatever tools necessary! It’s a great opportunity to delve into open APIs and technologies to create new applications for banking customers, businesses or even your own colleagues.</p>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="{{ 'assets/images/description.png' | prepend: site.baseurl }}" alt="Mobile #1!"/>
  </div>
</div>
