<div class="row" id="hero">
  <div class="col-md-6">
    <h1>Deliver the next generation of banking experiences!</h1>
    <p>Welcome to the 2016 Backbase Hackathon in Amsterdam and online, a two-day challenge to test your ideas and compete with your peers on 24th and 25th of June 2016.</p>
    <p>
      <b>Registrations are now closed!</b><br/>
      Keep an eye on your inbox for details and schedule.
    </p>
  </div>
  <div class="col-md-6 hidden-xs hidden-sm">
    <img class="light-bulb" src="{{ 'assets/images/light-bulb.png' | prepend: site.baseurl }}"/>
    <div class="skew"><img src="{{ 'assets/images/bg-blurred-code.png' | prepend: site.baseurl }}" alt="Apply now!"/></div>
  </div>
</div>
