<div id="photos" class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Have a look of how was the 2016 fun!</h3>
    <div class="photos-main">
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-01.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-02.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-03.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-04.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-05.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-06.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-07.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-08.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-09.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-10.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-11.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-12.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-13.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-14.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-15.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-16.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-17.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-18.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-19.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-20.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-21.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-22.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-23.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-24.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-25.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-26.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-27.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-28.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-29.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-30.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-31.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-32.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-33.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-34.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-35.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-36.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-37.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-38.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-39.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-40.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-41.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-42.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-43.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-44.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-45.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-46.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-47.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-48.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-49.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-50.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-51.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
    </div>
    <div id="photos" class="photos">
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-01.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-02.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-03.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-04.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-05.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-06.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-07.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-08.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-09.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-10.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-11.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-12.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-13.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-14.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-15.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-16.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-17.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-18.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-19.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-20.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-21.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-22.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-23.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-24.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-25.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-26.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-27.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-28.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-29.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-30.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-31.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-32.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-33.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-34.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-35.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-36.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-37.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-38.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-39.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-40.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-41.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-42.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-43.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-44.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-45.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-46.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-47.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-48.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-49.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-50.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
      <div><img data-lazy="{{ '/assets/images/bb-hackathon-2016-photos/img-51.JPG' | prepend: site.baseurl }}" alt="Backbase Hackathon 2016" class="img-responsive"/></div>
    </div>
  </div>
</div>
