
<div class="row" id="prizes">
  <h2><b>Winners</b>, Prizes &amp; Glory</h2>
  <div class="col-md-5 col-md-offset-1">
    <p>Here are the winners that acquired eternal glory and a picture in our Hall of Fame</p>
    <dl>
      <dt>Grand Winner of the Backbase 2016 Hackathon</dt>
      <dd><b>Team:</b> !important</dd>
      <dd><b>Members: </b>Dmitry Smirnov, Ben Sorohan, Marcin Zielinski, Oriol Torras</dd>
      <dd><b>Project: </b>Amazing Split and Pay mobile app</dd>
      <dd>Wow factor, impact, innovation, feasibility</dd>
      <dd>&#8227; € 2000 sponsored by <a href="http://www.gecko.rs/">Gecko</a></dd>
    </dl>
    <dl>
      <dt>Lesser-but-just-short-of-Grand Winner</dt>
      <dd><b>Team:</b> The Guardians</dd>
      <dd><b>Members: </b>Pawan Sangwan, Igor Lopatin, Giovanni Filardo, Frederico Biehl, Srikanth Reddy, Vladimir Sabadah</dd>
      <dd><b>Project: </b>CXP hack to push come magic into the portals. In their demo we saw how the solution allows live editing into portals through CXP.</dd>
      <dd>Great accomplishment, very impressive, but still short of that one overwhelming sparkle</dd>
      <dd>&#8227; € 1500 sponsored by <a href="http://www.endava.com/">Endava</a></dd>
    </dl>
    <dl>
      <dt>Fireworks Factor</dt>
      <dd><b>Team:</b> the_new_guys</dd>
      <dd><b>Members: </b>Willie Scholtz and Sergio Morales</dd>
      <dd><b>Project: </b>Application that matches the birthdays and events in your calendar with the products and services the celebrated person likes to allows buying the present in almost real time (their powerful, yet scary :) ).</dd>
      <dd>Very creative, out-of-the-box, not very feasible, but still impressive</dd>
      <dd>&#8227; € 1000 sponsored by <a href="http://www.be-tse.com/">BE Poland</a></dd>
    </dl>
    <dl>
      <dt>4th Place </dt>
      <dd><b>Team:</b> AC/CD</dd>
      <dd><b>Members: </b>Karoly Nagy, Oleksandr Smorodin, Thiago Cotting, Pavel Chunyayev.</dd>
      <dd><b>Project: </b>The team name is not about the band, but Continuous Delivery. Their idea provides a very handy tool to report the cost of the environments used by the R&amp;D teams.</dd>
      <dd>Murphy’s Law, great commitment but not able to execute because of bad luck</dd>
      <dd>&#8227; <a href="http://raceplanet.nl/circuit-rijden/arrangementen/race-experiences/max-experience/">Race Experience Zandvoort</a> sponsored by <a href="http://www.levi9.com/">Levi9</a></dd>
    </dl>
    <dl>
      <dt>Circus Act</dt>
      <dd><b>Team:</b> Endava</dd>
      <dd><b>Members: </b>Victor Jembei, Constantin Gasca, Milos Nijanovic, Aleksandr Zivkovic and Damir Alibegovic.</dd>
      <dd><b>Project: </b>Their real life demo on how to achieve tasks to save money using a goal and activity tracking app that connects to the banking environment. We loved the real life walking to show the pedometer tracking!</dd>
      <dd>High entertainment value!</dd>
      <dd>&#8227; GoPro sponsored by <a href="http://www.deloitte.com/">Deloitte</a></dd>
    </dl>
<!--     <dl>
      <dt>Special Prize</dt>
      <dd><b>Team:</b> Ivo Bobul</dd>
      <dd><b>Members: </b>Ivo Bobul.</dd>
      <dd><b>Project: </b>Will develop a Chrome extension to improve FE development experience</dd>
      <dd>&#8227; GoPro sponsored by <a href="http://www.deloitte.com/">Deloitte</a></dd>
    </dl>
 -->  </div>
  <div class="col-md-5" style="text-align: center">
    <i class="icon-trophy"></i>
  </div>
</div>
