
<div class="row" id="prizes">
  <h2>Prizes &amp; Glory</h2>
  <div class="col-md-5 col-md-offset-1">
    <p>Apart from eternal glory and a picture of the winning team put up in our Hall of Fame, there will be some amazing prizes for the winning teams.</p>
    <dl>
      <dt>Grand Winner of the Backbase 2016 Hackathon</dt>
      <dd>Wow factor, impact, innovation, feasibility</dd>
    </dl>
    <dl>
      <dt>Lesser-but-just-short-of-Grand Winner</dt>
      <dd>Great accomplishment, very impressive, but still short of that one overwhelming sparkle</dd>
    </dl>
    <dl>
      <dt>Fireworks Factor</dt>
      <dd>Very creative, out-of-the-box, not very feasible, but still impressive</dd>
    </dl>
    <dl>
      <dt>Pink Panther</dt>
      <dd>Murphy’s Law, great commitment but not able to execute because of bad luck</dd>
    </dl>
    <dl>
      <dt>Circus Act</dt>
      <dd>High entertainment value!</dd>
    </dl>
  </div>
  <div class="col-md-5" style="text-align: center">
    <i class="icon-trophy"></i>
  </div>
</div>
