<div id="registration" class="row">
  <div class="col-md-12">
    <h2>Backbase Hackathon 2016 Registration</h2>
  </div>
  <div class="col-md-6" id="apply">
    <div class="cognito cognito-form">
      <script src="https://services.cognitoforms.com/s/sIL_t2OalUuYN4buOxOLmA"></script>
      <script>Cognito.load("forms", { id: "2" });</script>
    </div>
  </div>
  <div class="col-md-6" id="register">
    <div class="signup-teams cognito col-md-10 col-md-offset-1">
      <p><i class="fa fa-unlock"></i></p>
      <h4>Registrations are now open!</h4>
      <p>Register now with your team and ensure you have a spot in our hackspace to compete for the title!</p>
      <p>If you do not have a team yet, but definitely want to join you can register yourself first. We will help you find a team and still make it for the Hackathon.</p>
      <p><a href="{{ site.baseurl }}/legal/privacy-policy">Registration Privacy Policy</a></p>
    </div>
  </div>
</div>
