<div id="registration" class="row">
  <div class="col-md-12">
    <h2>Backbase Hackathon 2016 "Early Bird" Registration</h2>
  </div>
  <div class="col-md-6" id="apply">

    <div class="cognito cognito-form">
      <script src="https://services.cognitoforms.com/s/sIL_t2OalUuYN4buOxOLmA"></script>
      <script>Cognito.load("forms", { id: "2" });</script>
    </div>
  </div>
  <div class="col-md-6" id="register">
    <div class="signup-teams cognito">
      <!-- <p><i class="fa fa-unlock"></i></p> -->
      <p><img src="{{ 'assets/images/backbase-dopper-bottle.png' | prepend: site.baseurl }}" alt="Backbase Dopper bottle"/></p>
      <h4>Early bird registrations are now open!</h4>
      <p>The first batch of people that register will get a free Backbase Dopper water bottle! A great gift if you think about the amount of water you're going to need during the hackathon <kbd>;)</kbd></p>
      <p>Be quick to apply!<br/>These Doppers are limited edition. First come, first serve!</p>
    </div>
  </div>
</div>
