<div id="registration" class="row">
  <div class="col-md-12">
    <h2>Backbase Hackathon 2016 Registration</h2>
  </div>
  <div class="col-md-6 col-md-offset-3" id="register">
    <div class="signup-teams cognito">
      <p><i class="fa fa-lock"></i></p>
      <h3>Registrations are now closed!</h3>
      <p>We have collected all the registrations of you and your teams and will send out all the information you need for the Backbase Hackathon 2016 soon.<br/>Keep an eye on your inbox! We will send the entire Hackathon schedule and it's very important to know when you will have your breakfast, lunch and beers!</p>
    </div>
  </div>
</div>
