<div class="row">
  <div class="container">
    <h3>Some reviews from our participants</h3>
    <blockquote class="quote-card">
      <p>Backbase Hackathon 2016 was a great experience, working in a small team with a clear goal in mind “we need to make a working POC to demonstrate the value of our idea, which can later be productized” . We implemented our feature in three different ways and choose the best one of them. We are proud of what we developed and demonstrated in this short time. The best part of this Hackathon was the teamwork: the team really came together in conceiving idea, solutions and implementing them.  An event like this can really show you and your team what you're made of!.</p>
      <cite>Pawan Sangwan - Guardians Team</cite>
    </blockquote>
  
    <blockquote class="quote-card red-card">
      <p>Congratulations on a great event</p>
      <cite>Julian Barker-Danby (Deloitte)</cite>
    </blockquote>

    <blockquote class="quote-card">
      <p>The event went ok – we solved the infrastructure in the last minute, but it did not cause problems for the teams. One of Endava teams won one of the prizes (the GO Pro camera). I had the chance to talk with them in Bucharest on our Innovation Lab and they liked the event and the experience. The guys here in Cluj said also they will definitely want to participate again in such events, so not bad for a first try</p>
      <cite>Liviu Istrate - Endava</cite>
    </blockquote>
    
    <blockquote class="quote-card red-card">
      <p>It was absolutely awesome.
        Keep up the excellent work!
        Thanks for the event. Looking forward for new Hackathons!</p>
      <cite>Reactions on Post-Hackathon Survey</cite>
    </blockquote>
  </div>
</div>