
<div class="row" id="rules">
  <h2>General Rules</h2>
  <div class="col-md-8 col-md-offset-2">
    <ol>
      <li>On Friday, the jury will walk around the teams and make questions. Use that time effectively. It is the first impression of your project and the jury will have more time and be more relaxed than during Saturday demo's.</li>
      <li>We have at least 12 teams presenting and we want to give room to everybody and still be respectful for the time of the jury and the audience, so the maximum time for every demo is 5 minutes including question without exception.</li>
      <li>If you want to allow the jury for extra questions make your demo shorter than 5 minutes. Prepare well to present efficiently! Timing is always a *peep* <span class="icon icon-smirk">😏</span></li>
      <li>After 5 minutes a sound will play and you will be escorted out of the floor (if in Amsterdam) or muted (if you are on live stream).</li>
    </ol>
  </div>
  <div class="col-md-5" style="text-align: center">
    <i class="icon-trophy"></i>
  </div>
</div>
