<div id="sponsors">
  <div class="row">
    <h2>Sponsored by</h2>
  </div>
  <div class="row sponsor-images">
    <a href="http://www.gecko.rs/" target="_blank"><img src="{{ 'assets/images/sponsors/gecko.jpg' | prepend: site.baseurl }}" alt="Gecko Solutions - We know IT" /></a>
    <a href="http://www.be-tse.com/" target="_blank"><img src="{{ 'assets/images/sponsors/bepoland.png' | prepend: site.baseurl }}" alt="BE Poland - Think, Solve, Execute" /></a>
    <a href="http://www.levi9.com/" target="_blank"><img src="{{ 'assets/images/sponsors/levi9.jpg' | prepend: site.baseurl }}" alt="Levi9 - IT Services" /></a>
    <a href="http://www.endava.com/" target="_blank"><img src="{{ 'assets/images/sponsors/endava.png' | prepend: site.baseurl }}" alt="Endava - Quality. Productivity. Innovation." /></a>
  </div>
</div>
