<section class="blackened">
  <div class="container">

    <div class="row footer">
      <div class="col-md-6">
        <span id="credit">
          <img src="{{ '/assets/images/backbase.png' | prepend: site.baseurl }}" /> <small>&copy; 2016 Backbase. All rights reserved.</small>
        </span>
      </div>
      <div class="col-md-6">
        <span id="social" class="pull-right">
          <ul class="footer-social">
            <li>
              <a href="http://www.facebook.com/backbase" title="Facebook" target="_blank"> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a href="http://twitter.com/backbase" title="Twitter" target="_blank"> <i class="fa fa-twitter"></i> </a>
            </li>
            <li>
              <a href="http://www.linkedin.com/company/backbase" title="LinkedIn" target="_blank"> <i class="fa fa-linkedin"></i> </a>
            </li>
            <li>
              <a href="http://www.youtube.com/backbase" title="Youtube" target="_blank"> <i class="fa fa-youtube"></i> </a>
            </li>
          </ul>
        </span>
      </div>
    </div>

  </div>
</section>
