<div class="col-md-6">
  <div class="images-wrapper" style="background-image: url('{{attendance.imgSrc}}');"></div>
</div>
<div class="col-md-6">
  <h2>{{attendance.h2}}</h2>
  <p>{{html attendance.p}}</p>
</div>
