<div class="col-md-6">
  <h2>{{description.h2}}</h2>
  <p>{{html description.p}}</p>
</div>
<div class="col-md-6">
  <img class="img-responsive" src="{{description.imgSrc}}" alt="{{description.imgAlt}}"/>
</div>
