<meta charset="utf-8">
<meta name="description" content="The Backbase Hackathon is hosting developers from all Backbase locations, providing an opportunity to create new application concepts to shake up the banking industry.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Backbase Hackathon 2016</title>
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- build:css /styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.css" />
<link rel="stylesheet" href="../bower_components/bootstrap-css-only/css/bootstrap.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css /styles/main.css -->
<link rel="stylesheet" href="/styles/main.css">
<!-- endbuild -->

<!-- build:js /scripts/vendor.js -->
<!-- <script src="../bower_components/jquery/dist/jquery.js"></script> -->
<!-- <script src="/scripts/jquery.slides.js"></script> -->
<!-- endbuild -->

<!-- build:js /scripts/main.js -->
<!-- <script src="/scripts/main.js"></script> -->
<!-- endbuild -->
