<div class="col-md-6">
  <a href="{{header.siteurl}}"><img src="/images/bb-hackathon-logo.png" alt="Backbase Hackathon"/></a>
</div>
<div class="col-md-6">
  <!-- <a href="#apply" class="btn btn-danger">Apply now!</a> -->
</div>
