<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>Need some inspiration?</h2>
  <p>Just in case you are stuck for ideas on what to develop at the Backbase Hackathon, here are a few areas to consider and get your creativity to sparkle...</p>
  <p><a href="http://blog.backbase.com/4344/backbase-2015-hackathon/">See the examples from 2015</a></p>

  <h4>Stock Tracker</h4>
  <ul>
      <li>Use the Backbase Mobile SDK to create a new stock tracker app that visualizes how people look at their portfolio in a completely different way.</li>
  </ul>

  <h4>Analytics Power!</h4>
  <ul>
      <li>Add a new Analytics App to Manager 5.6 that consumes the most needed reports from Google Analytics, in real time.</li>
  </ul>

  <h4>Bank 10.0</h4>
  <ul>
      <li>Visualize how the Bank of The Future would look like and create a Theme to make it real. Inspiration?</li>
  </ul>

  <p>...and many more!</p>
</div>
<div class="col-md-2"></div>
