<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>Join us on this 2-day hackathon in Amsterdam!</h2>

  <p>The 2nd Edition of the Backbase Hackathon invites you to apply today. Don’t waste time! Get this form filled in as soon as possible! The aim is to compete, so we can innovate together and move digital banking forwards. Here are some simple rules to abide by:</p>
  <ol>
    <li>Fresh hacking - This means you must present a brand new product or feature that didn’t exist before. Your hack must be crafted entirely during the hackathon.</li>
    <li>Work from a Backbase location – You can join the Hackathon remotely from any Backbase location. Please bring your own laptop.</li>
    <li>Sign up as a team– A team can consist of 1-5 members, and can comprise a mix of talents. For instance, a team could include a coder, a user experience expert, or an entrepreneur – any flavor will do.</li>
  </ol>
  <p>At the end of the Hackathon, each team leader will present a 15-minute prototype demo to a jury of Backbase managers, as well as representatives of the Hackathon sponsor company.</p>

  <p>Still <span id="countdown-clock"></span>  left to happen!</p>


</div>
<div class="col-md-2"></div>
