<div id="video-carousel" class="video-grid">
  <div class="video-item">
    <!-- https://www.youtube.com/watch?v=5qprQgrpiBE -->
    <h3>Backbase &mdash; Amsterdam #1</h3>
    <iframe src="https://www.youtube.com/embed/yOTtbDyTqXU?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="Backbase &mdash; Amsterdam" /> -->
  </div>
  <div class="video-item">
    <h3>Backbase &mdash; Amsterdam #2</h3>
    <iframe src="https://www.youtube.com/embed/CDdIeL3xUo8?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="Backbase &mdash; Amsterdam" /> -->
  </div>
  <div class="video-item">
    <h3>ITgma &mdash; Skopje</h3>
    <iframe src="https://www.youtube.com/embed/-VKnaRKf9Tk?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="ITgma &mdash; Skopje" /> -->
  </div>
  <div class="video-item">
    <h3>Backbase &mdash; Atlanta</h3>
    <iframe src="https://www.youtube.com/embed/yNbJ353yNFc?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="Backbase &mdash; Atlanta" /> -->
  </div>
  <div class="video-item">
    <h3>Levi9 &mdash; Kiev</h3>
    <iframe src="https://www.youtube.com/embed/pXGejMp64Kk?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="Levi9 &mdash; Kiev" /> -->
  </div>
  <div class="video-item">
    <h3>Backbase &mdash; New York</h3>
    <iframe src="https://www.youtube.com/embed/g46OSSBmGdU?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="Backbase &mdash; New York" /> -->
  </div>
  <div class="video-item">
    <h3>Gecko &mdash; Belgrade</h3>
    <iframe src="https://www.youtube.com/embed/PfxPqM3E9Jw?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="Gecko &mdash; Belgrade" /> -->
  </div>
  <div class="video-item">
    <h3>Gecko &mdash; Utrecht</h3>
    <iframe src="https://www.youtube.com/embed/z1Der_sc7Os?rel=0&amp;showinfo=0&autoplay=1&vq=large" frameborder="0" allowfullscreen></iframe>
    <!-- <img src="http://placehold.it/960x540" alt="Gecko &mdash; Belgrade" /> -->
  </div>
</div>
