<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>

{% if page.layout == 'live-feed' %}
<script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="{{ '/assets/vendor/slick/slick.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  window.channels = [
    {% for channel in site.data.livestream.channels %}
    {
      "name": "{{ channel.name }}",
      "title": "{{ channel.title }}",
      "offline": "{{ channel.offline }}",
      "test": "{{ channel.test }}"
    },
    {% endfor %}
  ];
  window.slickOpts = {
    'autoplay': true,
    'dots': true,
    'autoplaySpeed': 6000,
    'speed': 360,
    'pauseOnHover': false,
    'prevArrow': '<button type="button" class="slick-prev fa fa-arrow-left"></button>',
    'nextArrow': '<button type="button" class="slick-next fa fa-arrow-right"></button>'
  };

  document.addEventListener('DOMContentLoaded', function() {

    $('.livestream-carousel').slick(slickOpts);

    for (var i = 0; i < channels.length; i++) {
      _initLivestreams(channels[i]);
    }

  });

</script>
{% endif %}

<script type="text/javascript" src="{{ '/assets/scripts/main.js' | prepend: site.baseurl }}"></script>
