<header class="container" id="header">
  <div class="row">
    <div class="col-md-6">
      <a href="{{ site.url }}"><img src="{{ '/assets/images/bb-hackathon-logo.png' | prepend: site.baseurl }}" alt="{{ site.title }}" /></a>
    </div>
    <div class="col-md-6">
      <!-- <a href="#apply" class="btn btn-danger">Apply now!</a> -->
      <a href="https://open.spotify.com/user/just.adamczyk/playlist/5fq0wS1CdoULAmFX5mTX1W" title="Backbase Hackathon Spotify playlist" class="spotify-link">Backbase Hackathon Playlist <i class="fa fa-spotify"></i></a>
    </div>
  </div>
</header>
