<div class="row" id="goals">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Hackathon Competition Scope</h2>
    <p>Can you believe a year has passed since the last Backbase Hackathon? I know, us too! This time, we intend to build on last year’s success by inviting even more of you to show off your skills, share your knowledge, and encourage a fun, learning
      environment that disrupts the banking industry. After all, that’s why we do this, right?</p>
    <h3>Compete in one of these categories:</h3>
    <h4>Freestyle: Hack the banking industry</h4>
    <p>The freestyle category lets you run wild with your imagination and skills, with basic help if required. The goal is to disrupt the banking industry. To help you with this, you can use our Breeze API or any standalone model (if needed).</p>
    <p>About Breeze API: URL to Breeze server: Documentation of Breeze API can be found <a href="http://hackathon.backbase.dev:8080/portalserver/home">here</a>. (to be updated!)</p>
    <p>Tags: Banking/Freestyle</p>
    <p><em>Last year, the team Exodus 5:7 had 3D-printed a piggy bank that counts coins as they fall in. This information is registered and sent to the online banking platform, which then displays a real-time actual balance. Together with this, the team created a special (and extremely simplified) interface designed for kids, to begin understanding simple concepts such as having to wait to get something you want.</em></p>
    <h4>Build on top of the Backbase Platform</h4>
    <p>In this category, the aim is to improve the Backbase Platform by getting under their skin and hacking them! There are plenty of areas to tackle, such as CX Services, our Mobile or Web SDK, the Widget Collections, Manager, Forms, plus all Backbase
      internal (dev) tools. This is a chance to walk the talk and enhance the Backbase product experience for everyone!</p>
    <p>Tags: Backbase Products/Add-ons/Improvements</p>
    <p><em>For example: The goal of the El Corteso project last year was to create a plug-able module for the Backbase Android library to enable Backbase-powered mobile apps to be able to communicate with Android smartwatch apps. For this purpose, a smartwatch app with two functionalities was created, in order to display banking information from the mobile app, and enable the user to find the closest ATM. The smartwatch app was connected to a mobile device and communicated via the Backbase-powered app.</em></p>
    <h4>Upgrade our systems</h4>
    <p>This final category offers an opportunity to greatly improve the experience of being a Backbase employee. You can do this by hacking our time tracker tool, for instance, or an Atlassian extension, or any internal system or workspace improvement.
      There’s so much potential to make things better for everyone, and this is your canvas to do so. Let the painting begin!</p>
    <p>Tags : Workspace/Communication/Employee Experience/Internal tools</p>
    <p><em>For example: The goal of Happy Tree Friend’s project was to encourage cross-departmental collaboration at Backbase. The team added gamification to pull-requests, and created a dashboard of rich visualisations for the game. For each pull request, a developer gets one point, but in order to encourage cross-team pull requests, if the request comes from another team, the developer gets a bonus 10 points. Management can also decide on a set of featured repositories, where contributors get double points. At the end of each month, the developer with the most points wins. Developers can also become ‘king’ of a repository if they have the most contributions, and be awarded badges when they unlock different achievements.</em></p>
  </div>
  <div class="col-md-2"></div>
</div>
